<div class="content">
  <div class="item-list">
    <div class="item">
      <a class="item-href" href="tech">
                    <span class="item-title">
                        Techs
                    </span>
        <span class="item-content">
                        All technology list
                    </span>
      </a>
    </div>
    <div class="item">
      <a class="item-href" href="project">
                    <span class="item-title">
                        Projects
                    </span>
        <span class="item-content">
                        All projects list
                    </span>
      </a>
    </div>
  </div>
</div>
